{
  "aliases": [],
  "arbitrary": [
    {
      "children": [
        {
          "args": "numpy.lib.user_array",
          "children": [],
          "name": "currentmodule",
          "options": {},
          "type": "mystDirective",
          "value": ""
        },
        {
          "args": "container",
          "children": [],
          "name": "autoclass",
          "options": {},
          "type": "mystDirective",
          "value": ".. HACK -- the point here is that we don't want this to appear in the output, but the autosummary should still generate the pages.\n   .. autosummary::\n      :toctree:\n\n      container.astype\n      container.byteswap\n      container.copy\n      container.tobytes\n      container.tostring"
        }
      ],
      "level": 0,
      "target": null,
      "title": "numpy.lib.user\\_array.container",
      "type": "Section"
    }
  ],
  "content": {},
  "example_section_data": {
    "children": [],
    "level": 0,
    "target": null,
    "title": null,
    "type": "Section"
  },
  "item_file": null,
  "item_line": null,
  "item_type": null,
  "ordered_sections": [],
  "references": null,
  "see_also": [],
  "signature": {
    "type": "Signature",
    "value": null
  },
  "type": "DocBlob"
}